## ASSIGNMENT NO. 2

## Question No. 1

In [1]:
a = ("""Hello! 
This is python programming.
Python version is 3.10.
This is multiline string.""")
print (a)

Hello!
This is python programming.
Python version is 3.10.
This is multiline string.

## Question no. 2

In [2]:
x = "Pakistan"
print (x)
print (type(x))
y = (2022)
print (y)
print (type(y))
z = (3.142)
print (z)
print (type(z))

Pakistan
<class 'str'>
2022
<class 'int'>
3.142
<class 'float'>

## Question No. 3

In [3]:
city1 = "Karachi"
city2 = "Lahore"
city3 = "Islamabad"
city1_temp = "35"
city2_temp = "30"
city3_temp = "25"
print ("The temperature of "+city1+" is "+city1_temp+" degree centigrade.")
print ("The temperature of "+city2+" is "+city2_temp+" degree centigrade.")
print ("The temperature of "+city3+" is "+city3_temp+" degree centigrade.")

The temperature of Karachi is 35 degree centigrade.
The temperature of Lahore is 30 degree centigrade.
The temperature of Islamabad is 25 degree centigrade.

## Question No. 4

In [4]:
fruits = ["apple", "cherry", "banana", "avocado", "mango"]
if "avocado" in fruits:
    print ("Avocado is available in list")
else: 
    print ("Avocado is not available in list")
    
if "berry" in fruits:
    print ("Berry is available in list")
else:
    print ("Berry is not available in list")

Avocado is available in list
Berry is not available in list

## Question no. 5

In [5]:
import random
a = random.randint(1,10)
x = 0
while a !=x:
    x = int(input("Guess a number from 0 to 9: "))
print ("Well guessed!")

Guess a number from 0 to 9: 2
Guess a number from 0 to 9: 6
Guess a number from 0 to 9: 5
Guess a number from 0 to 9: 7
Guess a number from 0 to 9: 9
Well guessed!

## Question no. 6

In [6]:
Name = (input("Enter Name: "))
F_Name = (input("Enter Father Name: "))
Roll_No = (input("Enter Roll Number: "))
Eng = int(input("Enter Marks of English: "))
Comp = int(input("Enter Marks of Computer: "))
Chem = int(input("Enter Marks of Chemistry: "))
Phy = int(input("Enter Marks of Physics: "))
Maths = int(input("Enter Marks of Mathematics: "))
Total = Eng+Comp+Chem+Phy+Maths
print ("Total Marks: ",Total," out of 500")
avg = (Eng+Comp+Phy+Chem+Maths)/5
avg = int(avg)
if avg>=81 and avg<+100:
    print("Your grade is A+")
elif avg>=71 and avg<=80:
    print("Your grade is A")
elif avg>=61 and avg<=70:
    print("Your grade is B")
elif avg>=51 and avg<=60:
    print("Your grade is C")
elif avg>=41 and avg<=50:
    print("Your grade is D")
else:
    print("Sorry! Yoy are fail")

Enter Name: Azwa
Enter Father Name: Arshad
Enter Roll Number: 20
Enter Marks of English: 90
Enter Marks of Computer: 85
Enter Marks of Chemistry: 92
Enter Marks of Physics: 88
Enter Marks of Mathematics: 95
Total Marks:  450  out of 500
Your grade is A+

## Question No. 7

In [7]:
x = int(input("Enter number 1: "))
y = int(input("Enter number 2: "))
a = x+y
b = x-y
c = x*y
d = x/y
print ("addition", a)
print ("subtraction", b)
print ("multiplication", c)
print ("division", d)

Enter number 1: 40
Enter number 2: 8
addition 48
subtraction 32
multiplication 320
division 5.0

## Question No. 8

In [8]:
a = int(input("Table of "))
for i in range(1,11):
    print(a,"x",i,"=",a*i)

Table of 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

# By: Azwa Arshad