# LISTS

## SYNTAX:
      Varuable = [ ] ------->  Empty list

In [1]:
List_1 = ["Azwa", 18, 20.5, True, 3 + 3j]
print(List_1)

['Azwa', 18, 20.5, True, (3+3j)]

### Indexing in list

In [10]:
List_2 = ["Azwa", 18, 20.5, True, (3 + 3j), "Arshad", 20]
print(List_2)

['Azwa', 18, 20.5, True, (3+3j), 'Arshad', 20]

In [8]:
print(List_2[3])

True

In [9]:
print(List_2[5])

Arshad

In [11]:
print(List_2[0])

Azwa

### Nested List

In [12]:
List_3 = [[1,2,3,4], [5,6,7,8], [9,10,11,12]]
print(List_3)

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [13]:
print(List_3[1])

[5, 6, 7, 8]

In [14]:
print(List_3[2][1])

10

In [15]:
print(List_3[0][3])

4

### List Constructor

In [18]:
List_4 = list((1,2,3,4,5))
print(List_4)

[1, 2, 3, 4, 5]

In [19]:
List_5 = list(("PYTHON"))
print(List_5)

['P', 'Y', 'T', 'H', 'O', 'N']

### Add / Remove

In [20]:
List_6 = [1,2,3,4,5]
List_6.append(6)              # .append se last mein add hota h
print(List_6)

[1, 2, 3, 4, 5, 6]

In [22]:
List_7 = [1,2,3,4,5]
List_7.insert(2,2.2)        # .insert se jo number denge uske aage add hoga
print(List_7)

[1, 2, 2.2, 3, 4, 5]

In [23]:
List_8 = ["Apple", "Mango", "Banana", "Cherry", "Kiwi"]
List_8.remove("Cherry")        # .remove se jo value denge woh remove hogi
print(List_8)

['Apple', 'Mango', 'Banana', 'Kiwi']

In [27]:
List_9 = ["Potato", "Tomato", "Carrot", "Cucumber", "Radish"]
List_9.pop()            # .pop se last value remove hojaegi
print(List_9)

['Potato', 'Tomato', 'Carrot', 'Cucumber']

In [28]:
List_9.pop(2)         # .pop mein argument dene se us index ki value remove hogi
print(List_9)

['Potato', 'Tomato', 'Cucumber']

In [29]:
List_10  = [1,2,3,4,5,6,7,8]
del(List_10)           #To delete a list

In [30]:
List = ["Azwa", "Usman", "Kanwal", "Ali"]
if "Azwa" in List:
    print(True)
else:
    print("Not found")

True

In [31]:
a = [1,2,3,4,5,6]
a.reverse()
print(a)

[6, 5, 4, 3, 2, 1]

In [33]:
b = [3,5,7,9,2,4,6,1,8]
b.sort()
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
c = ["Mango", "Cherry", "Apple", "Banana", "Kiwi"]
c.sort()
print(c)

['Apple', 'Banana', 'Cherry', 'Kiwi', 'Mango']

# TUPLE

## SYNTAX:
       Variable = ( )  -------->  Empty tuple

In [35]:
Tuple_1 = ("Azwa", 18, 20.5, True)
print(Tuple_1)

('Azwa', 18, 20.5, True)

### Indexing

In [36]:
Tuple_2 = ("Apple", "Mango", "Banana", "Cherry", "Kiwi")
print(Tuple_2[2])

Banana

In [37]:
print(Tuple_2[3])

Cherry

### Tuple Constructor

In [38]:
Tuple_3 = tuple((1,2,3,4,5,6))
print(Tuple_3)

(1, 2, 3, 4, 5, 6)

In [39]:
Tuple_4 = ("Potato", "Tomato", "Cucumber", "Carrot")
for i in Tuple_4:
    print(i)

Potato
Tomato
Cucumber
Carrot

In [40]:
print(Tuple_4[-3])

Tomato

# DICTIONARY

## SYNTAX:  
      Variable = {Key:Value}

In [2]:
Dict_1 = {"Name":"Azwa", "F_Name":"Arshad","Age":18,"Roll_No":123,"E_Mail":"azwaarshad1194@gmail.com"}
print(Dict_1)

{'Name': 'Azwa', 'F_Name': 'Arshad', 'Age': 18, 'Roll_No': 123, 'E_Mail': 'azwaarshad1194@gmail.com'}

In [3]:
Dict_2 = {1:"One", 2:"Two", 3:"Three", 4:"Four", 5:"Five"}          #Integers as keys
print(Dict_2)

{1: 'One', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five'}

In [7]:
Dict_3 = {"List":[1,2,3,4,5], "Tuple":(6,7,8,9,10), "Set": {10,20,30,40,50}}         #Dicionary with data tpes
print(Dict_3)

{'List': [1, 2, 3, 4, 5], 'Tuple': (6, 7, 8, 9, 10), 'Set': {50, 20, 40, 10, 30}}

In [8]:
Dict_4 = {1:"one", 2:"Two", 1:"One", 3:"Three", 4:"Four", 3:"three"}      #Duplicate keys mein baad wali print hogi
print(Dict_4)

{1: 'One', 2: 'Two', 3: 'three', 4: 'Four'}

### .Keys
    It will give keys only.

In [9]:
Dict_5 = {"Fruit_1":"Apple", "Fruit_2":"Banana", "Fruit_3":"Cherry", "Fruit_4":"Kiwi", "Fruit_5":"Mango"}
print(Dict_5.keys())

dict_keys(['Fruit_1', 'Fruit_2', 'Fruit_3', 'Fruit_4', 'Fruit_5'])

### .Values
     It will print values only.

In [10]:
Dict_5 = {"Fruit_1":"Apple", "Fruit_2":"Banana", "Fruit_3":"Cherry", "Fruit_4":"Kiwi", "Fruit_5":"Mango"}
print(Dict_5.values())

dict_values(['Apple', 'Banana', 'Cherry', 'Kiwi', 'Mango'])

### .Items
     It will print keys and values both.

In [11]:
Dict_5 = {"Fruit_1":"Apple", "Fruit_2":"Banana", "Fruit_3":"Cherry", "Fruit_4":"Kiwi", "Fruit_5":"Mango"}
print(Dict_5.items())

dict_items([('Fruit_1', 'Apple'), ('Fruit_2', 'Banana'), ('Fruit_3', 'Cherry'), ('Fruit_4', 'Kiwi'), ('Fruit_5', 'Mango')])

In [12]:
Dict_6 = {"Ali":12345,"Faran":45678,"Taha":234234,"Zeeshan":234234,"Kaleem":234525,"Asif":234234,"Faizan":34234}
for i in Dict_6.values():
    print(i)

12345
45678
234234
234234
234525
234234
34234

In [13]:
Dict_6 = {"Ali":12345,"Faran":45678,"Taha":234234,"Zeeshan":234234,"Kaleem":234525,"Asif":234234,"Faizan":34234}
print(Dict_6["Ali"])
print(Dict_6["Taha"])

12345
234234

In [14]:
Dict_7 = {"Ali":12345,"Faran":45678,"Taha":234234,"Id_1":{"Name":"Raheel","id":['PK','karachi']}}

print(Dict_7["Taha"])
print(Dict_7["Id_1"])
print(Dict_7["Id_1"]["Name"])
print(Dict_7["Id_1"]["id"])
print(Dict_7["Id_1"]["id"][1])

234234
{'Name': 'Raheel', 'id': ['PK', 'karachi']}
Raheel
['PK', 'karachi']
karachi

### .fromkeys( )

In [15]:
Keys = {'a' , 'b' , 'c' , 'd'}
Values = [10,'value']
Values.append('items')
Dict_8 = dict.fromkeys(Keys,Values)
print(Dict_8)

{'a': [10, 'value', 'items'], 'b': [10, 'value', 'items'], 'c': [10, 'value', 'items'], 'd': [10, 'value', 'items']}

### Dictionary Constructor

In [19]:
Dict_9 = dict({"One":1, "Two":2, "Three":3, "Four":4, "Five":5})
Dict_10 = dict(Name = "Azwa", Age = 18, Country = "Pakistan")
print(Dict_9)
print(Dict_10)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}
{'Name': 'Azwa', 'Age': 18, 'Country': 'Pakistan'}